*.vsidx
.vs/slnx.sqlite
.vs/BookReviewApp/FileContentIndex/077f3dfb-c0f0-45f2-b1f8-13349ac4e13b.vsidx
.vs/BookReviewApp/FileContentIndex/9a6df5ae-b539-484b-8e2d-2933f1c385d8.vsidx
.vs/BookReviewApp/FileContentIndex/00775840-f1b9-40c6-a570-bdc5f1e28dff.vsidx
.vs/BookReviewApp/FileContentIndex/b38da4ba-3af4-45c3-b096-4fff7654869b.vsidx
.vs/BookReviewApp/FileContentIndex/f75b9672-7e29-4a11-b136-f462ca58d8fd.vsidx
.vs/BookReviewApp/FileContentIndex/47202cf1-0b47-4dfc-9746-bd9e47aa8f20.vsidx
.vs/BookReviewApp/FileContentIndex/6820b6bd-3718-41a9-aeb0-8b789f484beb.vsidx
.vs/BookReviewApp/FileContentIndex/ce682b86-5c35-4e85-922c-174ea9c298dd.vsidx
